<div id="container">
  <div class="header">
    <a class="voltar" href="/schedules">Voltar</a>
    <a class="programacao" href="<%= url_for :controller => 'users', :action => 'list' %>">Minha programação</a>
  </div>

  <div id="content" class="detalhes">
    <h2><%= @talk.title %></h2>
    <div class="data-horario">
      <h3 class="data"><%= @talk.start.strftime('%d/%m') %></h3>
      <h3 class="horario"><%= @talk.start.strftime('%H:%M') %> às <%= @talk.end.strftime('%H:%M') %></h3>
	  <% if Time.now > @talk.end %>
	    <h3 class="avaliar"><a id="avaliar" href="<%= url_for :controller => 'ratings', :action => 'new', :id => @talk.id %>">Avaliar</a></h3>
	  <% end %>
    </div>

    <ul class="info-palestrante">
      <% @talk.speakers.each do |speaker| %>
      <li>
        <img src="<%= (speaker.avatar.present?) ? speaker.avatar : '/images/foto-palestrante.jpg' %>"/>
        <h3><%= speaker.name %></h3>
        <% if (speaker.bio.present?) then %>
          <p><%= truncate(speaker.bio.gsub(/<.+?>/,''), :length => 50) %></p>
        <% end %>
      </li>
      <% end %>
    </ul>
    
    <div class="tipo">
      <p class="trilha"><%= (@talk.track == 'desenvolvimento;lise;gest;inova;relatos') ? 'Lightning Talks' : @talk.track %></p>
      <% if @talk.level != "" %>
      <p class="nivel"><%= @talk.level %></p>
      <% end %>
      <% if @talk.type != "" %>
      <p><%= @talk.type %></p>
      <% end %>
    </div>

    <div class="descricao">
      <%= @talk.description.html_safe %>
      <% ratings = @talk.ratings %>
      <% if ratings.size > 0 %>
        <div class="comments">
          <h3>Comentários</h3>
          <% for c in ratings do %>
            <div class="comment">
              <h3><%= c.user.twitter %></h3>
              <p><%= c.comment.html_safe %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="vou <%= is_talk_selected? @talk.id, @user_tracks %>">
      <a class="vao" title="Veja quem vai"><%= @talk.viewers %></a>
      <a href="#" title="Eu vou!" class="btn-vou">Vou</a>
      <input id="talk_id" type="hidden" value="<%= @talk.id %>" />
    </div>
    <div class="lista-avatar">
      <% @talk.users.each do |user| %>
        <img src="<%=user.avatar%>" title="<%=user.twitter%>" <%= "class='current_user_attending'" if user == current_user %> />
      <% end %>
    </div>
    
    <% unless @talk.users.include? current_user then %>
      <div style='display:none'>
        <img src="<%=current_user.avatar%>" title="<%=current_user.twitter%>" class='current_user_attending'/>
      </div>
    <% end %>
  </div>
</div>