<div><%= @talk.start.strftime('%d/%m %H:%M') %><%= @talk.end.strftime('%H:%M') %></div>

<div><%= @talk.title %></div>

<div><%= @talk.type %> - <%= @talk.level %></div>

<div>
<% @talk.speakers.each do |speaker| %>
    <%= speaker.name %>
<% end %>
</div>

<div><%= @talk.room %> <%= @talk.track %></div>

<div><%= @talk.description %></div>


