<div class="header">
  <h1>grex</h1>
	<a href="/schedules" class="voltar">Voltar</a>
</div>
<div class="detail-talk">
    <div class='top'>
        <div class="date"><%= @talk.start.strftime('%d/%m') %> - <%= @talk.start.strftime('%H:%M') %> a <%= @talk.end.strftime('%H:%M') %></div>
		<span class="quantidade"><%= @talk.viewers %> <% if @talk.viewers == 1 %>pessoa irá<% else %>pessoas irão<% end %></span>
    </div>

    <div class="title <%=is_talk_selected? @talk.id, @user_tracks %>">
        <input type="hidden" value="<%= @talk.id %>" />
        <div class="escolha">
            <a href="#" title="Eu vou!" class="btn-vo">Eu vo!</a>
        </div>
        <p><%= @talk.title %></p>
    </div>
	<div class="descricao">
        <p class="palestrante"><%= print_speakers @talk.speakers %></p>
        <p><%= @talk.type %> - <%= show_talk_level @talk.level %></p>
		<p><%= @talk.room %></p>
		<p><%= @talk.description %></p>			
	</div>  
    
    <div class="quemvai">
        <p>Quem Vai (<%= @talk.viewers %>)</p>
        <ul>
        <% @talk.users.each do |user| %>
            <a href="<%= url_for "/users/from_user/#{user.id}" %>"><img src="<%=user.avatar%>" title="<%=user.twitter%>"/></a>
        <% end %>
        </ul>
    </div>
</div>

