<div id="container">
  <div class="header">
    <a class="voltar" href="/schedules">Voltar</a>
    <a class="programacao" href="<%= url_for :controller => 'users', :action => 'list' %>">Minha programação</a>
  </div>

  <div id="content" class="detalhes">
    <h2><%= @talk.title %></h2>
    <div class="data-horario">
      <h3 class="data"><%= @talk.start.strftime('%d/%m') %></h3>
      <h3 class="horario"><%= @talk.start.strftime('%H:%M') %> às <%= @talk.end.strftime('%H:%M') %></h3>
    </div>

    <ul class="info-palestrante">
      <% @talk.speakers.each do |speaker| %>
      <li>
        <img src="<%= speaker.avatar %>" alt="<%= speaker.name %>" />
        <h3><%= speaker.name %></h3>
        <% if (speaker.bio.present?) then %>
          <p><%= truncate(speaker.bio.gsub(/<.+?>/,''), :length => 50) %></p>
        <% end %>
      </li>
      <% end %>
    </ul>
    
    <div class="tipo">
      <p class="trilha"><%= @talk.track %></p>
      <% if @talk.level != "" %>
      <p class="nivel"><%= @talk.level %></p>
      <% end %>
      <% if @talk.type != "" %>
      <p><%= @talk.type %></p>
      <% end %>
    </div>

    <div class="descricao"><%= @talk.description.html_safe %></div>

    <div class="vou <%= is_talk_selected? @talk.id, @user_tracks %>">
      <a class="vao" title="Veja quem vai"><%= @talk.viewers %></a>
      <div class="escolha">
        <input id="talk_id" type="hidden" value="<%= @talk.id %>" />
        <a href="#" title="Eu vou!" class="btn-vou">Vou</a>
      </div>
    </div>

    <div class="lista-avatar">
      <% @talk.users.each do |user| %>
        <a <%= "class='current_user_attending'" if user.id == current_user.id %> href="<%= url_for "/users/from_user/#{user.id}" %>">
          <img src="<%=user.avatar%>" title="<%=user.twitter%>"/>
        </a>
      <% end %>
    </div>

    <div style='display:none'>
      <a class='current_user_attending' href="<%= url_for "/users/from_user/#{current_user.id}" %>"><img src="<%=current_user.avatar%>" title="<%=current_user.twitter%>"/></a>
    </div>

  </div>
</div>