<div class="content">
  <div class="dia">
    <div class="trilha geral">
		<div class="titulo">29/06</div>
		<% for talk in talks[:first] do %>
			<div class="linha-nova active">
                <input type="hidden" value="<%= talk.id %>" >
                <div class="escolha">
                    <a href="#" title="Eu vou!" class="btn-vo">Eu vo!</a>
                    <span class="quantidade"><%= talk.viewers %></span>
                </div>
                <div class="descricao">
                    <p><%= talk.title %></p>
                    <p class="palestrante"><%= print_speakers talk.speakers %></p>
                    <p><%= talk.type %> <span class='<%= normalize_string(talk.level) unless talk.level.nil?%>' ><%= talk.level %></p> 
                </div>
            </div>
		<% end %>
		<div class="titulo">30/06</div>
		<% for talk in talks[:second] do %>
			<div class="linha-nova active">
                <input type="hidden" value="<%= talk.id %>" >
                <div class="escolha">
                    <a href="#" title="Eu vou!" class="btn-vo">Eu vo!</a>
                    <span class="quantidade"><%= talk.viewers %></span>
                </div>
                <div class="descricao">
                    <p><%= talk.title %></p>
                    <p class="palestrante"><%= print_speakers talk.speakers %></p>
                    <p><%= talk.type %> <span class='<%= normalize_string(talk.level) unless talk.level.nil?%>' ><%= talk.level %></p> 
                </div>
            </div>
		<% end %>
		<div class="titulo">01/07</div>
		<% for talk in talks[:third] do %>
			<div class="linha-nova active">
                <input type="hidden" value="<%= talk.id %>" >
                <div class="escolha">
                    <a href="#" title="Eu vou!" class="btn-vo">Eu vo!</a>
                    <span class="quantidade"><%= talk.viewers %></span>
                </div>
                <div class="descricao">
                    <p><%= talk.title %></p>
                    <p class="palestrante"><%= print_speakers talk.speakers %></p>
                    <p><%= talk.type %> <span class='<%= normalize_string(talk.level) unless talk.level.nil?%>' ><%= talk.level %></p> 
                </div>
            </div>
		<% end %>
    </div>
</div>