<div class="header">
  <h1>grex</h1>
  <%= link_to "@"+current_user.twitter, "/users/list", { :class=>'twitter', :title => "@"+current_user.twitter } if signed_in? %>
  <%= link_to "Log out", "/sessions/logout", { :class=>'sair', :title => 'Sair' } if signed_in? %>
</div>
<div class="linha-nova">
    <div class="descricao twitter">
        <p><%= "@"+@user.twitter %></p>
    </div>
</div>

<div class="content from-user">
  <div class="dia">
    <div class="trilha geral">
		<div class="titulo">29/06</div>
		<% for talk in @talks[:first] do %>
			<div class="linha-nova active">
                <input type="hidden" value="<%= talk.id %>" >
				<div class="horario">
                    <div class="inicio">
                      <span class="hora"><%= talk.start.hour.to_s.rjust(2, '0') %></span>
                      <span class="minuto"><%= ':'+talk.start.min.to_s.rjust(2, '0') %></span>
                    </div>
                    <div class="fim">
                      <span class="hora"><%= talk.end.hour.to_s.rjust(2, '0') %></span>
                      <span class="minuto"><%= ':'+talk.end.min.to_s.rjust(2, '0') %></span>
                    </div>
                </div>
                <div class="descricao">
                    <p><%= talk.title %></p>
                    <p class="palestrante"><%= print_speakers talk.speakers %></p>
                    <p><%= talk.type %> <span class='<%= normalize_string(talk.level) unless talk.level.nil?%>' ><%= talk.level %></p> 
                </div>
            </div>
		<% end %>
		<div class="titulo">30/06</div>
		<% for talk in @talks[:second] do %>
			<div class="linha-nova active">
                <input type="hidden" value="<%= talk.id %>" >
				<div class="horario">
                    <div class="inicio">
                      <span class="hora"><%= talk.start.hour.to_s.rjust(2, '0') %></span>
                      <span class="minuto"><%= ':'+talk.start.min.to_s.rjust(2, '0') %></span>
                    </div>
                    <div class="fim">
                      <span class="hora"><%= talk.end.hour.to_s.rjust(2, '0') %></span>
                      <span class="minuto"><%= ':'+talk.end.min.to_s.rjust(2, '0') %></span>
                    </div>
                </div>
                <div class="descricao">
                    <p><%= talk.title %></p>
                    <p class="palestrante"><%= print_speakers talk.speakers %></p>
                    <p><%= talk.type %> <span class='<%= normalize_string(talk.level) unless talk.level.nil?%>' ><%= talk.level %></p> 
                </div>
            </div>
		<% end %>
		<div class="titulo">01/07</div>
		<% for talk in @talks[:third] do %>
			<div class="linha-nova active">
                <input type="hidden" value="<%= talk.id %>" >
				<div class="horario">
                    <div class="inicio">
                      <span class="hora"><%= talk.start.hour.to_s.rjust(2, '0') %></span>
                      <span class="minuto"><%= ':'+talk.start.min.to_s.rjust(2, '0') %></span>
                    </div>
                    <div class="fim">
                      <span class="hora"><%= talk.end.hour.to_s.rjust(2, '0') %></span>
                      <span class="minuto"><%= ':'+talk.end.min.to_s.rjust(2, '0') %></span>
                    </div>
                </div>
                <div class="descricao">
                    <p><%= talk.title %></p>
                    <p class="palestrante"><%= print_speakers talk.speakers %></p>
                    <p><%= talk.type %> <span class='<%= normalize_string(talk.level) unless talk.level.nil?%>' ><%= talk.level %></p> 
                </div>
            </div>
		<% end %>
    </div>
</div>