<div class="header minha-programacao">
	<h2><a href="/">GREX</a></h2>
	<a href="/schedules" class="voltar">Voltar</a>
</div>
<div id="container">
	<nav>
		<h2>Minha Programação</nav>
	</nav>	
	<div id="content">
		<div class="itens-lista">
			<h2 class="titulo">05/09</h2>
			<ul>
				<% for talk in @talks[:first] do %>
					<li>
						<input type="hidden" value="<%= talk.id %>" >
						<div class="sala">
							<h3><%= talk.room %></h3>
							<h3><%= talk.start.hour.to_s.rjust(2, '0') %><%=':'+talk.start.min.to_s.rjust(2, '0') %></h3>
                			<h3><%= talk.end.hour.to_s.rjust(2, '0') %><%= ':'+talk.end.min.to_s.rjust(2, '0') %></h3>
							<p><%= talk.viewers %></p>
						</div>
						<div class="info">
							<h2><%= talk.title %></h2>
							<p class="palestrante"><%= talk.speakers.map {|speaker| speaker.name}.join(', ') %></p>
							<div class="tipo">
								<p class="trilha"><%= talk.track %></p>
								<% if talk.level != "" %>
									<p class="nivel"><%= talk.level %></p>
								<% end %>
								<% if talk.type != "" %>
									<p><%= talk.type %></p>
								<% end %>
							</div>
						</div>
						<div class="detalhe">
							<%= link_to "Detalhe", "/talks/show/#{talk.id}" %>
						</div>
					</li>					
				<% end %>				
			</ul>
			
			<h2 class="titulo">06/09</h2>
			<ul>
				<% for talk in @talks[:second] do %>
					<li>
						<input type="hidden" value="<%= talk.id %>" >
						<div class="sala">
							<h3><%= talk.room %></h3>
							<h3><%= talk.start.hour.to_s.rjust(2, '0') %><%=':'+talk.start.min.to_s.rjust(2, '0') %></h3>
                			<h3><%= talk.end.hour.to_s.rjust(2, '0') %><%= ':'+talk.end.min.to_s.rjust(2, '0') %></h3>
							<p><%= talk.viewers %></p>
						</div>
						<div class="info">
							<h2><%= talk.title %></h2>
							<p class="palestrante"><%= talk.speakers.map {|speaker| speaker.name}.join(', ') %></p>
							<div class="tipo">
								<p class="trilha"><%= talk.track %></p>
								<% if talk.level != "" %>
									<p class="nivel"><%= talk.level %></p>
								<% end %>
								<% if talk.type != "" %>
									<p><%= talk.type %></p>
								<% end %>
							</div>
						</div>
						<div class="detalhe">
							<%= link_to "Detalhe", "/talks/show/#{talk.id}" %>
						</div>
					</li>					
				<% end %>				
			</ul>
			
			<h2 class="titulo">07/09</h2>
			<ul>
				<% for talk in @talks[:third] do %>
					<li>
						<input type="hidden" value="<%= talk.id %>" >
						<div class="sala">
							<h3><%= talk.room %></h3>
							<h3><%= talk.start.hour.to_s.rjust(2, '0') %><%=':'+talk.start.min.to_s.rjust(2, '0') %></h3>
                			<h3><%= talk.end.hour.to_s.rjust(2, '0') %><%= ':'+talk.end.min.to_s.rjust(2, '0') %></h3>
							<p><%= talk.viewers %></p>
						</div>
						<div class="info">
							<h2><%= talk.title %></h2>
							<p class="palestrante"><%= talk.speakers.map {|speaker| speaker.name}.join(', ') %></p>
							<div class="tipo">
								<p class="trilha"><%= talk.track %></p>
								<% if talk.level != "" %>
									<p class="nivel"><%= talk.level %></p>
								<% end %>
								<% if talk.type != "" %>
									<p><%= talk.type %></p>
								<% end %>
							</div>
						</div>
						<div class="detalhe">
							<%= link_to "Detalhe", "/talks/show/#{talk.id}" %>
						</div>
					</li>					
				<% end %>				
			</ul>			
	  	</div>
	</div>
</div>