<div id="container">
	<div class="header">
		<h2>GREX</h2>
		<a class="programacao" href="<%= url_for :controller => 'users', :action => 'list' %>">Minha programação</a>
		<a class="sair" href="/sessions/logout">SAIR</a>
	</div>
	
	<nav>
		<div class="data"><span class="numero">6/9</span> <span class="dia" atual="dia_6">Quinta-feira</span></div>
		<div class="botoes">
			<a class="anterior" href="">Anterior</a>
			<a class="proximo" href="">Próximo</a>
		</div>	
	</nav>
	<div id="content">
		<% for day, tracks in @lista do %>
			<div class="grupo <%= day %>">
			<% for track_class, track  in tracks do %>
				<div class="itens-lista <%= track_class %>">
					<h2 class="horario"><%= track[:name] %></h2>
					<ul>
						<% for talk in track[:talks] do %>
							<li>
								<a href="<%= url_for :controller => 'talks', :action => 'show', :id => talk.id %>">
									<input type="hidden" value="<%= talk.id %>" >
									<div class="mais">
										<span class="sala"><%= talk.room %></span>
										<span class="inicio"><%= talk.start.hour.to_s.rjust(2, '0') %><%=':'+talk.start.min.to_s.rjust(2, '0') %></span>
			                			<span class="fim"><%= talk.end.hour.to_s.rjust(2, '0') %><%= ':'+talk.end.min.to_s.rjust(2, '0') %></span>
										<span class="vai"><%= talk.viewers %></span>
										<% average = talk.average_rating %>
			                			<% unless average.nil? %>
			                				<span class="media"><%= average %> / 5.0</span>
			                			<% end %>
									</div>
									<div class="info">
										<h2><%= talk.title %></h2>
										<p class="palestrante"><%= talk.speakers.map {|speaker| speaker.name}.join(', ') %></p>
										<div class="tipo">
											<p class="trilha"><%= (talk.track == 'desenvolvimento;lise;gest;inova;relatos') ? 'Lightning Talks' : talk.track %></p>
											<% if talk.level != "" %>
												<p class="nivel"><%= talk.level %></p>
											<% end %>
											<% if talk.type != "" %>
												<p><%= talk.type %></p>
											<% end %>
										</div>
									</div>
								</a>	
							</li>					
						<% end %>				
					</ul>
				</div>	
			<% end %>
			</div>
		<% end %>	
	</div>
</div>