<div class="header">
  <h1><%= link_to "grex", "/", {:title => 'grex' } %></a></h1>
	<% if signed_in? %><a href="<%= url_for :controller => 'users', :action => 'list', :anchor => @date %>" class="twitter"><img src="<%=current_user.avatar%>" title="<%=current_user.twitter%>"/>Minha programação</a><% end %>
  	<%= link_to "Sair", "/sessions/logout", { :class=>'sair', :title => 'Sair' } if signed_in? %></a>
</div>
<div class="menu">
  <ul>
	<li><a href="/schedules?date=2012-09-05" title="Primeiro dia" class="<%= "active" if @date == "2012-09-05"%>" >05/09</a></li>
  	<li><a href="/schedules?date=2012-09-06" title="Segundo dia" class="<%= "active" if @date == "2012-09-06"%>">06/09</a></li>
  	<li><a href="/schedules?date=2012-09-07" title="Terceiro dia" class="<%= "active" if @date == "2012-09-07"%>">07/09</a></li>
  </ul>
</div>

<div class="content">
  <div class="dia">
    <div class="trilha desenvolvimento">
		<div class="titulo-lista">
			<span class="trial-title">Desenvolvimento e Teste</span>
			<ul class="ball">
				<li class="active">1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
			</ul>
			<span class="nav-next">&gt;</span>
		</div>
        <div class="slider">
		<% for talk in @tracks[:desenvolvimento] do %>
			<div class="linha <%=is_talk_selected? talk.id, @user_tracks%>">
                <input type="hidden" value="<%= talk.id %>" >
                <div class="horario">
                	<p><%= talk.start.hour.to_s.rjust(2, '0') %><%=':'+talk.start.min.to_s.rjust(2, '0') %></p>
                	<p class="fim"><%= talk.end.hour.to_s.rjust(2, '0') %><%= ':'+talk.end.min.to_s.rjust(2, '0') %></p>
                </div>
                <div class="escolha">
                    <a href="#" title="Eu vou!" class="btn-vou">Eu vou!</a>
                    <span class="quantidade"><%= talk.viewers %></span>
                </div>
                <div class="descricao">
                    <p class="ver-detalhes"><%= link_to talk.title, "/talks/show/#{talk.id}" %></p>
                    <p class="palestrante"><%= talk.speakers.map {|speaker| speaker.name}.join(', ') %></p>
	                <p class="tipo"><%= talk.type %> - <%= show_talk_level talk.level %></p>
              	</div>
            </div>
		<% end %>
		</div>
    </div>
	<div class="trilha analise">
		<div class="titulo-lista">
			<span class="nav-back">&lt;</span>
			<span class="trial-title">Análise e Planejamento</span>
			<ul class="ball">
				<li>1</li>
				<li class="active">2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
			</ul>
			<span class="nav-next">&gt;</span>
		</div>
        <div class="slider">
		<% for talk in @tracks[:analise] do %>
			<div class="linha <%=is_talk_selected? talk.id, @user_tracks%>">
                <input type="hidden" value="<%= talk.id %>" >
                <div class="horario">
                	<p><%= talk.start.hour.to_s.rjust(2, '0') %><%=':'+talk.start.min.to_s.rjust(2, '0') %></p>
                	<p class="fim"><%= talk.end.hour.to_s.rjust(2, '0') %><%= ':'+talk.end.min.to_s.rjust(2, '0') %></p>
                </div>
                <div class="escolha">
                    <a href="#" title="Eu vou!" class="btn-vou">Eu vou!</a>
                    <span class="quantidade"><%= talk.viewers %></span>
                </div>
                <div class="descricao">
                    <p class="ver-detalhes"><%= link_to talk.title, "/talks/show/#{talk.id}" %></p>
                    <p class="palestrante"><%= talk.speakers.map {|speaker| speaker.name}.join(', ') %></p>
	                <p class="tipo"><%= talk.type %> - <%= show_talk_level talk.level %></p>
              	</div>
            </div>
		<% end %>
		</div>
    </div>
	<div class="trilha gestao">
		<div class="titulo-lista">
			<span class="nav-back">&lt;</span>
			<span class="trial-title">Gestão e Cultura</span>
			<ul class="ball">
				<li>1</li>
				<li>2</li>
				<li class="active">3</li>
				<li>4</li>
				<li>5</li>
			</ul>
			<span class="nav-next">&gt;</span>
		</div>
        <div class="slider">
		<% for talk in @tracks[:gestao] do %>
			<div class="linha <%=is_talk_selected? talk.id, @user_tracks%>">
                <input type="hidden" value="<%= talk.id %>" >
                <div class="horario">
                	<p><%= talk.start.hour.to_s.rjust(2, '0') %><%=':'+talk.start.min.to_s.rjust(2, '0') %></p>
                	<p class="fim"><%= talk.end.hour.to_s.rjust(2, '0') %><%= ':'+talk.end.min.to_s.rjust(2, '0') %></p>
                </div>
                <div class="escolha">
                    <a href="#" title="Eu vou!" class="btn-vou">Eu vou!</a>
                    <span class="quantidade"><%= talk.viewers %></span>
                </div>
                <div class="descricao">
                    <p class="ver-detalhes"><%= link_to talk.title, "/talks/show/#{talk.id}" %></p>
                    <p class="palestrante"><%= talk.speakers.map {|speaker| speaker.name}.join(', ') %></p>
	                <p class="tipo"><%= talk.type %> - <%= show_talk_level talk.level %></p>
              	</div>
            </div>
		<% end %>
		</div>
    </div>
	<div class="trilha inovacao">
		<div class="titulo-lista">
			<span class="nav-back">&lt;</span>
			<span class="trial-title">Inovação e Empreendedorismo</span>
			<ul class="ball">
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li class="active">4</li>
				<li>5</li>
			</ul>
			<span class="nav-next">&gt;</span>
		</div>
        <div class="slider">
		<% for talk in @tracks[:inovacao] do %>
			<div class="linha <%=is_talk_selected? talk.id, @user_tracks%>">
                <input type="hidden" value="<%= talk.id %>" >
                <div class="horario">
                	<p><%= talk.start.hour.to_s.rjust(2, '0') %><%=':'+talk.start.min.to_s.rjust(2, '0') %></p>
                	<p class="fim"><%= talk.end.hour.to_s.rjust(2, '0') %><%= ':'+talk.end.min.to_s.rjust(2, '0') %></p>
                </div>
                <div class="escolha">
                    <a href="#" title="Eu vou!" class="btn-vou">Eu vou!</a>
                    <span class="quantidade"><%= talk.viewers %></span>
                </div>
                <div class="descricao">
                    <p class="ver-detalhes"><%= link_to talk.title, "/talks/show/#{talk.id}" %></p>
                    <p class="palestrante"><%= talk.speakers.map {|speaker| speaker.name}.join(', ') %></p>
	                <p class="tipo"><%= talk.type %> - <%= show_talk_level talk.level %></p>
              	</div>
            </div>
		<% end %>
		</div>
    </div>
	<div class="trilha relatos">
		<div class="titulo-lista">
			<span class="nav-back">&lt;</span>
			<span class="trial-title">Relatos de Experiência</span>
			<ul class="ball">
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li class="active">5</li>
			</ul>
		</div>
        <div class="slider">
		<% for talk in @tracks[:relatos] do %>
			<div class="linha <%=is_talk_selected? talk.id, @user_tracks%>">
                <input type="hidden" value="<%= talk.id %>" >
                <div class="horario">
                	<p><%= talk.start.hour.to_s.rjust(2, '0') %><%=':'+talk.start.min.to_s.rjust(2, '0') %></p>
                	<p class="fim"><%= talk.end.hour.to_s.rjust(2, '0') %><%= ':'+talk.end.min.to_s.rjust(2, '0') %></p>
                </div>
                <div class="escolha">
                    <a href="#" title="Eu vou!" class="btn-vou">Eu vou!</a>
                    <span class="quantidade"><%= talk.viewers %></span>
                </div>
                <div class="descricao">
                    <p class="ver-detalhes"><%= link_to talk.title, "/talks/show/#{talk.id}" %></p>
                    <p class="palestrante"><%= talk.speakers.map {|speaker| speaker.name}.join(', ') %></p>
	                <p class="tipo"><%= talk.type %> - <%= show_talk_level talk.level %></p>
              	</div>
            </div>
		<% end %>
		</div>
    </div>
	
  </div>
  <div class="webgoal">
	@webgoal #feedback
  </div>
</div>
