<div class="header">
  <h1><%= link_to "grex", "/", {:title => 'grex' } %></a></h1>
	<% if signed_in? %><a href="<%= url_for "/users/list/" %>" class="twitter"><img src="<%=current_user.avatar%>" title="<%=current_user.twitter%>"/>Minha programação</a><% end %>
  	<%= link_to "Sair", "/sessions/logout", { :class=>'sair', :title => 'Sair' } if signed_in? %></a>
</div>
<div class="menu">
  <ul>
	<li><a href="/schedules?date=2011-06-29" title="Primeiro dia" class="<%= "active" if @date == "2011-06-29"%>" >29/06</a></li>
  	<li><a href="/schedules?date=2011-06-30" title="Segundo dia" class="<%= "active" if @date == "2011-06-30"%>">30/06</a></li>
  	<li><a href="/schedules?date=2011-07-01" title="Terceiro dia" class="<%= "active" if @date == "2011-07-01"%>">01/07</a></li>
  </ul>
</div>

<div class="content">
  <div class="dia">
    <div class="trilha geral">
		<div class="titulo-lista">Geral <span class="nav-next">&gt;</span></div>
        <div class="slider">
		<% for talk in @tracks[:geral] do %>
			<div class="linha <%=is_talk_selected? talk.id, @user_tracks%>">
                <input type="hidden" value="<%= talk.id %>" >
                <div class="horario">
                	<p><%= talk.start.hour.to_s.rjust(2, '0') %><%=':'+talk.start.min.to_s.rjust(2, '0') %></p>
                	<p class="fim"><%= talk.end.hour.to_s.rjust(2, '0') %><%= ':'+talk.end.min.to_s.rjust(2, '0') %></p>
                </div>
                <div class="escolha">
                    <a href="#" title="Eu vou!" class="btn-vo">Eu vo!</a>
                    <span class="quantidade"><%= talk.viewers %></span>
                </div>
                <div class="descricao">
                    <p class="ver-detalhes"><%= link_to talk.title, "/talks/show/#{talk.id}" %></p>
                    <p class="palestrante"><%= talk.speakers.map {|speaker| speaker.name}.join(', ') %></p>
	                <p class="tipo"><%= talk.type %> - <%= show_talk_level talk.level %></p>
              	</div>
            </div>
		<% end %>
		</div>
    </div>
    <div class="trilha engenharia" >
    	<div class="titulo-lista"><span class="nav-back">&lt;</span>Engenharia<span class="nav-next">&gt;</span></div>
        <div class="slider">
		<% for talk in @tracks[:engenharia] do %>
			<div class="linha <%=is_talk_selected? talk.id, @user_tracks%>">
                <div class="horario">
                	<p><%= talk.start.hour.to_s.rjust(2, '0') %><%=':'+talk.start.min.to_s.rjust(2, '0') %></p>
                	<p class="fim"><%= talk.end.hour.to_s.rjust(2, '0') %><%= ':'+talk.end.min.to_s.rjust(2, '0') %></p>
                </div>
                <input type="hidden" value="<%= talk.id %>" >
                <div class="escolha">
                    <a href="#" title="Eu vou!" class="btn-vo">Eu vo!</a>
                    <span class="quantidade"><%= talk.viewers %></span>
                </div>
                <div class="descricao">
                    <p class="ver-detalhes"><%= link_to talk.title, "/talks/show/#{talk.id}" %></p>
                    <p class="palestrante"><%= talk.speakers.map {|speaker| speaker.name}.join(', ') %></p>
	                <p class="tipo"><%= talk.type %> - <%= show_talk_level talk.level %></p>
                </div>
            </div>
		<% end %>
        </div>
    </div>
    <div class="trilha relatos" >
    	<div class="titulo-lista"><span class="nav-back">&lt;</span>Relatos<span class="nav-next">&gt;</span></div>
        <div class="slider">
		<% for talk in @tracks[:relatos] do %>
			<div class="linha <%=is_talk_selected? talk.id, @user_tracks%>">
                <input type="hidden" value="<%= talk.id %>" >
                <div class="horario">
                	<p><%= talk.start.hour.to_s.rjust(2, '0') %><%=':'+talk.start.min.to_s.rjust(2, '0') %></p>
                	<p class="fim"><%= talk.end.hour.to_s.rjust(2, '0') %><%= ':'+talk.end.min.to_s.rjust(2, '0') %></p>
                </div>
                <div class="escolha">
                    <a href="#" title="Eu vou!" class="btn-vo">Eu vo!</a>
                    <span class="quantidade"><%= talk.viewers %></span>
                </div>
                <div class="descricao">
                    <p class="ver-detalhes"><%= link_to talk.title, "/talks/show/#{talk.id}" %></p>
                    <p class="palestrante"><%= talk.speakers.map {|speaker| speaker.name}.join(', ') %></p>
	                <p class="tipo"><%= talk.type %> - <%= show_talk_level talk.level %></p>
                </div>
            </div>
		<% end %>
        </div>
    </div>
    <div class="trilha gestao" >
    	<div class="titulo-lista"><span class="nav-back">&lt;</span>Gest&atilde;o<span class="nav-next">&gt;</span></div>
        <div class="slider">
		<% for talk in @tracks[:gestao] do %>
			<div class="linha <%=is_talk_selected? talk.id, @user_tracks%>">
                <input type="hidden" value="<%= talk.id %>" >
                	<div class="horario">
	                	<p><%= talk.start.hour.to_s.rjust(2, '0') %><%=':'+talk.start.min.to_s.rjust(2, '0') %></p>
	                	<p class="fim"><%= talk.end.hour.to_s.rjust(2, '0') %><%= ':'+talk.end.min.to_s.rjust(2, '0') %></p>
	                </div>
                <div class="escolha">
                    <a href="#" title="Eu vou!" class="btn-vo">Eu vo!</a>
                    <span class="quantidade"><%= talk.viewers %></span>
                </div>
                <div class="descricao">
                    <p class="ver-detalhes"><%= link_to talk.title, "/talks/show/#{talk.id}" %></p>
                    <p class="palestrante"><%= talk.speakers.map {|speaker| speaker.name}.join(', ') %></p>
	                <p class="tipo"><%= talk.type %> - <%= show_talk_level talk.level %></p>
                </div>
            </div>
		<% end %>
        </div>
    </div>
    <div class="trilha auditorio" >
    	<div class="titulo-lista"><span class="nav-back">&lt;</span>Audit&oacute;rio</div>
        <div class="slider">
		<% for talk in @tracks[:principal] do %>
			<div class="linha <%=is_talk_selected? talk.id, @user_tracks%>">
                <input type="hidden" value="<%= talk.id %>" >
                <div class="horario">
                	<p><%= talk.start.hour.to_s.rjust(2, '0') %><%=':'+talk.start.min.to_s.rjust(2, '0') %></p>
                	<p class="fim"><%= talk.end.hour.to_s.rjust(2, '0') %><%= ':'+talk.end.min.to_s.rjust(2, '0') %></p>
                </div>
                <div class="escolha">
                    <a href="#" title="Eu vou!" class="btn-vo">Eu vo!</a>
                    <span class="quantidade"><%= talk.viewers %></span>
                </div>
                <div class="descricao">
                    <p class="ver-detalhes"><%= link_to talk.title, "/talks/show/#{talk.id}" %></p>
                    <p class="palestrante"><%= talk.speakers.map {|speaker| speaker.name}.join(', ') %></p>
	                <p class="tipo"><%= talk.type %> - <%= show_talk_level talk.level %></p>
                </div>
            </div>
		<% end %>
        </div>
    </div>
  </div>
</div>

