<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<head>
  <title>GREX - organizando sua participação em eventos</title>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
  <%= javascript_include_tag "http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js" %>
  <%= javascript_include_tag "http://jquery-ui.googlecode.com/svn/tags/latest/ui/minified/jquery.effects.core.min.js" %>
  <%= javascript_include_tag "evento" %>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "style-new" %>
  <%= stylesheet_link_tag "retina" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="console"></div>
<%= yield %>

</body>
</html>
