<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="author" content="Grex">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
		<%= javascript_include_tag "http://jquery-ui.googlecode.com/svn/tags/latest/ui/minified/jquery.effects.core.min.js" %>
		<%= javascript_include_tag "evento" %>
		<% if params[:controller] == 'sessions' %>
			<%= stylesheet_link_tag "style-new" %>
			<%= stylesheet_link_tag "retina" %>
		<% else %>
			<%= stylesheet_link_tag "style" %>
		<% end %>
		<title>Grex</title>
		<script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5713377-25']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
