<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<head>
  <title>Evento</title>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" %>
  <%= javascript_include_tag "http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js" %>
  <%= javascript_include_tag "http://ui.jquery.com/latest/ui/jquery.effects.core.js" %>
  <%= javascript_include_tag "http://ui.jquery.com/latest/ui/jquery.effects.slide.js" %>
  <%= javascript_include_tag "evento" %>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
