<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="author" content="Grex">

		<meta name = "viewport" content = "width = device-width , initial-scale = 1.0 , user-scalable = no">
		
		<title>GREX - organizando sua participação em eventos</title>
		<%= stylesheet_link_tag "style" %>
		<%= stylesheet_link_tag "style-new" %>
	  	<%= stylesheet_link_tag "retina" %>
	  	<%= csrf_meta_tag %>
	</head>
<body>
	<div id="container">
		<%= yield %>
	</div>
</body>
</html>
